* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 5px;
}

th {
    background-color: #ccc;
}

td {
    text-align: center;
    color: gray;
}